body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Syne Mono", monospace;
  background-color: #7236ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 750px;
  max-width: 75%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
  padding: 20px;
}

.button {
  background-color: #4400ff;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 40px;
  margin: 15px 0px;
  font-size: 1.75rem;
  border: 5px solid #4400ff;
}

.button:hover {
  border: 5px solid black;
  cursor: pointer;
}

.button:active {
  border: 5px solid #ffd300;
}

/* Random Number */


#numGen {

  width: 220px;
  padding: 50px;
  margin: auto;
  border: 2px solid var(--color-hyper-500);
  background: var(--color-800);
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size:4em;
  font-family: 'Rubik', sans-serif;
  
}

#But {
 
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 30px 0 50px 0;
    border-radius: 5px;
    text-align: center;
    
}

#Generate {
    border: 1px solid var(--color-paleBlue);
    width: 25%;
    padding:10px;

    font-size: 14px;
    border-radius: 12px;
    background-color: var(--color-hyper-500);
    cursor: pointer;
    color: #66C4FF;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;

}

#Generate:hover {
    transform: scale(1.15);
    background-color: #66C4FF;
    color: var(--color-hyper-500);
    border: 1px solid var(--color-hyper-500);
}
